@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../fonts';
@import '../variables';

/** ### Reset ### **/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    @extend .roboto-regular;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-base;
    color: $white;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: $white;
}

#root,
#__next {
    isolation: isolate;
}
/** ### End of reset ### **/

.main {
    // width: 100%;
}
