@import '../variables';

.sidebar {
    display: flex;
    background-color: $bg-colour;

    &--column {
        display: flex;
        flex-direction: column;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
        box-shadow: $box-shadow;
        clip-path: inset(0px -15px 0px 0px);

        > * {
            flex: 0 0 auto;
        }
    }

    &__logo {
        margin: 1rem;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 38px;
            height: auto;
        }
    }

    &__modes {
        // border-top: 1px solid $gray;
        // border-bottom: 1px solid $gray;
        display: flex;
        flex-direction: column;
    }

    &__right {
        padding: 0 1.5rem;
        background-color: $bg-colour;

        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            > * {
                font-size: $font-size-lg;
            }
        }
    }


    // &__icon {
    //     margin: 1rem;
    //     color: $gray;
    //     cursor: pointer;

    //     &.active {
    //         color: $white-ish;
    //         border-left: 1px solid $white-ish;
    //     }

    //     &--small {
    //         width: 28px;
    //         height: 28px;
    //     }
    // }


    // &__input {
    //     border: 1px solid $gray-dark;
    //     background: none;
    //     border-radius: $border-radius;
    //     padding: 0 .5rem;
    //     color: $white-ish;
    //     height: 40px;
    //     min-width: 250px;
    // }
}

.projects {
    &__title {
        padding-left: .5rem;
    }

    &__list {

    }
}
